ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

  .logo {
    img {
      height: 7rem;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    img {
      cursor: pointer;
      &:hover {
        transform: translateY(-0.5rem);
        transition: 0.2s ease-in-out;
      }
    }
  }
}

/*MEDIA QUERIES*/

@media (max-width: 386px) {
  .socials {
    img {
      height: 2.7rem;
    }
  }
}
